<mat-card class="project-card" *ngIf="project">
  <mat-card-header>
    <mat-card-title>
      {{project.name}}
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div>{{project.description}}</div>
  </mat-card-content>
  <mat-card-actions class="actions-area">
    <button mat-raised-button color="primary" [cdkCopyToClipboard]="getLinkForHook()">Copy Link for WebHook to the Clipboard</button>
    <button mat-raised-button color="warn" (click)="deleteProject()" *ngIf="project.owner === user?.uid">Delete this project</button>
  </mat-card-actions>
</mat-card>